#joke {
    color: black;
    font-size: 18px;
    text-align: left;
    overflow: auto;
    height: 50vh;
}

#control {
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.mdl-card {
    width: 50%;
    height: 50%;
    display: table-cell;
}

.mdl-card * {
    display: inline-block;
}

.mdl-textfield * {
    text-align: center !important;
}

.mdl-card__actions {
    overflow: hidden;
}